.share-header-icon {
  width: 48px;
  object-fit: auto;
  object-position: center;
  cursor: pointer;
}
.share-header-title {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  color: var(--Text-Light-01, #333f4e);
  font-weight: 600;
  line-height: 130%;
  /* flex-grow: 1; */
  margin: auto 0;
  margin-left: 90px;
  /* width: 200px; */
  /* background-color: #7288fa; */
  /* margin-left: 150px; */
}
.search-box {
  display: flex;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 30px 40px rgba(89, 104, 178, 0.06),
    0 0 30px rgba(89, 104, 178, 0.06);
  background-color: var(--Default-White, #fff);
  margin-top: 22px;
  padding: 16px;
  font-size: 14px;
  color: var(--Text-Light-02, #a3b2c7);
  font-weight: 400;
  line-height: 143%;
  height: 20px;
}
.search-icon {
  width: 20px;
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  margin-right: 7px;
}
.search-title {
  font-family: Poppins, sans-serif;
}
.profile-card {
  display: flex;
  align-items: center;
  /* background-color: var(--Default-White, #fff); */
  margin-top: 30px;
  gap: 12px;
  font-size: 14px;
  /* height: 40px; */
}
.access-checkbox {
  margin-right: 12px;
}
.empty-box {
  width: 18px;
  margin-right: 12px;
}
@media (max-width: 991px) {
  .profile-card {
    flex-wrap: wrap;
    padding-right: 20px;
  }
}

.profile-img {
  border-radius: 100%;
  width: 44px;
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  box-shadow: 0 8.8px 22px rgba(66, 71, 97, 0.2);
}
.profile-info {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  height: 45px;
  justify-content: center;
}
.profile-name {
  margin: 0;
  /* position: absolute; */
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: var(--Text-Light-01, #333f4e);
  font-weight: 600;
  height: 20px;
}
.profile-email {
  margin: 0;
  color: var(--Text-Light-02, #a3b2c7);
  font-family: Poppins, sans-serif;
  font-weight: 400;
  margin-top: 4px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 30px 30px;
  box-shadow: 4px 4px 20px rgba(32, 73, 109, 0.1);
  background-color: #fff;
  margin-top: -9px;
  padding: 19px 30px;
  font-size: 15px;
  color: var(--Default-White, #fff);
  font-weight: 600;
  text-align: center;
  line-height: 133%;
}
@media (max-width: 991px) {
  .footer {
    flex-wrap: wrap;
    padding: 0 20px;
  }
}
.footer-img {
  width: 100px;
  aspect-ratio: 2.5;
  object-fit: auto;
  object-position: center;
  max-width: 100%;
  margin-right: 20px;
}
.footer-button {
  font-family: Poppins, sans-serif;
  border-radius: 41px;
  box-shadow: 0 8px 30px rgba(65, 89, 214, 0.3);
  background-color: var(--Default-Brand, #7288fa);
  padding: 10px 18px;
  color: white;
  display: flex;
  border: none;
  cursor: pointer;
}

.modal-overlay {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  overflow: hidden;
  width: 30%;
  height: 80%;
}
.share-container {
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  padding: 22px 10px;
  flex-direction: column;
  justify-content: space-around;
  max-height: 90%;
  height: 500px;
}
.header {
  display: flex;
  /* background-color: rebeccapurple; */
  flex-direction: row;
  justify-content: flex-start;
  width: 80%;
  padding: 0 30px;
}
@media (max-width: 991px) {
  .header {
    max-width: 100%;
    padding: 0 20px;
  }
}
.people-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
