.main-container {
    border-radius: 34px;
    background-color: #fff;
    display: flex;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .main-container {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
  
  .right-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 65%;
    margin-left: 150px;
    margin-right: 150px;
  }
  .left-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 45%;
  }
  @media (max-width: 991px) {
    .left-column,
    .right-column {
      width: 100%;
    }
  }
  .card {
    background-color: var(--Default-Brand, #7288fa);
    border-radius: 34px;
    padding: 80px;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .card {
      max-width: 100%;
      margin-top: 40px;
      padding: 20px;
    }
  }
  .icon-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 34px;
  }
  .icon-background {
    background-color: #fff;
    border-radius: 37.416px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
  }
  .icon {
    background-color: var(--Default-White, #fff);
    border-radius: 37.416px;
    width: 50px;
    height: 50px;
  }
  .card-title {
    color: var(--Default-White, #fff);
    font: 500 37px/1.5 Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  }
  .card-subtitle {
    color: var(--Default-White, #fff);
    font: 700 46px/56px Poppins, -apple-system, Roboto, Helvetica, sans-serif;
    margin: 20px 0 18px;
  }
  @media (max-width: 991px) {
    .card-subtitle {
      font-size: 40px;
      line-height: 55px;
      margin-top: 40px;
    }
  }
  .card-description {
    color: var(--Default-White, #fff);
    font: 400 16px/24px Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  }
  .card-image {
    aspect-ratio: auto 1 / 1;
    object-fit: cover;
    width: 334px;
    margin-top: 20px;
    align-self: center;
  }
  @media (max-width: 991px) {
    .card-image {
      margin-top: 40px;
    }
  }
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .login-container {
      margin-top: 40px;
    }
  }
  .login-title {
    color: var(--Text-Light-01, #333f4e);
    font: 700 46px/1.22 Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  }
  @media (max-width: 991px) {
    .login-title {
      font-size: 40px;
    }
  }
 
  .input-field {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    border: none;
    font-size: 14px;
    padding: 11px;
    padding-left: 2px;
  }
  ::placeholder {
    color: #a3b2c7;
    opacity: 0.6;
    padding-left: 0;
  }
  .create-account-button {
    border: none;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: var(--Default-Brand, #7288fa);
    color: var(--Default-White, #fff);
    border-radius: 41px;
    margin-top: 70px;
    padding: 20px 18px;
    font: 600 18px/1.33 Poppins, -apple-system, Roboto, Helvetica, sans-serif;
    box-shadow: 0 8px 30px rgba(65, 89, 214, 0.3);
    cursor: pointer;
  
  }
  @media (max-width: 991px) {
    .login-button {
      margin-top: 40px;
    }
  }
  .signup-prompt {
    color: var(--Default-Brand, #000000);
    text-align: center;
    margin-top: 34px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    line-height: 20px;
  }
  .signup-link {
    color: rgba(114, 136, 250, 1);
    text-decoration: none;
  }

  .visually-hidden {
    font-family: Poppins, sans-serif;
    font-size: 14px;
  }
  .header-icon-img {
    height: 60px;
    width: 60px;
  }
  